<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <body>
      <div class="main-container">
        <div class="topbar">
          <div class="logo">
            <a href="#">
              <img
                src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png"
                alt="Logo"
              />
            </a>
          </div>
          <div class="button">
            <a href="/add">
              <span class="fa fas fa-plus-square"></span>
              <span>Create Playlist</span>
            </a>
          </div>
          <div class="button">
            <a href="/mostPlayed">
              <span class="fa fas fa-play"></span>
              <span>Most Played</span>
            </a>
          </div>
        </div>

        <div class="spotify-playlists">
          <h2>Spotify Playlists</h2>

          <div class="list">
            <% playlists.forEach((playlist) => { %>
            <div class="item">
              <img src=" <%= playlist.img %> " />
              <div class="play">
                <a href="/song/<%= playlist.title %>">
                  <span class="fa fa-play"></span>
                </a>
              </div>
              <h4><%= playlist.title %></h4>
              <p><%= playlist.artist %></p>
              <p>Played: <%= playlist.total_played %> Times</p>
            </div>
            <% }) %>
          </div>
        </div>
      </div>

      <script src="https://kit.fontawesome.com/23cecef777.js"></script>
    </body>
  </body>
</html>
